* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}
.Slider {
  width: 70%;
  margin: auto;
  text-align: center;
  border: 1px solid darkgray;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Slide h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(26, 21, 21);
  letter-spacing: 5px;
}
.user{
  border-radius: 20px;
}
.Designation {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 68);
}
.Slide p {
  width: 60%;
  word-spacing: 6px;
  margin: auto;
  font-size: 18px;
  color: rgb(73, 72, 72);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn{
  width: 60px;
  margin: 15px 0;
  background-color: rgb(223, 223, 252);
  border-radius: 10px;
}
.right-side{
  margin-left: 10px;
}
.left-side{
  margin-right: 10px;
}
i {
  font-size: 30px;
  color: darkblue;
}
.title{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 68); ;  
}
.input-form{
    width: 60%;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .label{
    font-size: 25px;
    float: left;
    margin-left: 40px;
  }
  .input{
    border: none;
    border-bottom: 3px solid rgb(64, 92, 218);
    width: 60%;
    font-size: 20px;
    outline: none;
    /* margin: 10px 10px 60px 10px; */
    float: right;
    margin-right: 40px;

  }
  .formfield * {
    vertical-align:text-top;
  }
  .submit-button{
    width: 80%;
    height: 40px;
    background-color: rgb(64, 92, 218) ;
    border: none;
    cursor: pointer;
    margin: 20px 0px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
  }
