body{
    background-color:cornsilk;
}
.title{
    text-align: center;
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
    font-size: 25px;
    color: rgb(10, 1, 1);
    font-weight: bolder;
}
input{
    font-size:x-large;
    border: none;
    margin-top: 30%;
    border-radius: 15px;
    color: crimson;
    font-weight: bold;
}
.submit{
    margin-top: 10%;
}
button{
    border: 1px solid rgb(23, 171, 230);
    font-size: 30px;
    border-radius: 15px;
    background-color: rgb(188, 221, 252);
}
button:hover{
    border:2px solid green;
    color: rgb(20, 19, 19);
    background-color: rgb(51, 255, 0);
    

}
.Container{
    width: 40%;
    height: 500px;
    margin: auto;
    text-align: center;
    border: 3px solid black;
    background-image: url("img/CR-Home-Inlinehero-how-to-protect-yourself-from-coronavirus-while-grocery-shopping-0320.webp");
    opacity: 0.8;
}

